parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setAssetNamePrefix\\(\\)\\.$#"
            count: 1
            path: ../RoboFile.php

        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setInputFile\\(\\)\\.$#"
            count: 1
            path: ../RoboFile.php

        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:mkdir\\(\\)\\.$#"
            count: 4
            path: ../RoboFile.php

        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListStagedFilesTask\\:\\:setPaths\\(\\)\\.$#"
            count: 1
            path: ../RoboFile.php

        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:setCommandOnly\\(\\)\\.$#"
            count: 1
            path: ../RoboFile.php

        -
            message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Phpstan\\\\Task\\\\AnalyzeTask\\:\\:setNoProgress\\(\\)\\.$#"
            count: 1
            path: ../RoboFile.php

        -
            message: "#^Call to an undefined method Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
            count: 1
            path: ../RoboFile.php

        -
            message: "#^Method Sweetchuck\\\\ComposerLockDiff\\\\LockDiffEntry\\:\\:jsonSerialize\\(\\) should return array\\{requireAction\\: 'add'\\|'move'\\|'none'\\|'remove', requiredAsAction\\: 'dev'\\|'none'\\|'prod', versionAction\\: 'downgrade'\\|'none'\\|'upgrade', name\\: string, type\\: string, leftType\\: string, rightType\\: string, leftVersionString\\: string, \\.\\.\\.\\} but returns array\\{requireAction\\: string, requiredAsAction\\: string, versionAction\\: string, name\\: string, type\\: string, leftType\\: string\\|null, rightType\\: string\\|null, leftVersionString\\: string\\|null, \\.\\.\\.\\}\\.$#"
            count: 1
            path: ../src/LockDiffEntry.php
